<header class="header">
    <nav class="nav">
        <div class="nav-menu">
            <h1>
                <a href="">Than Tuan</a>
            </h1>
        </div>

        <div class="nav-search">
            <input type="text" placeholder="Tìm kiếm">
            <button class="btn-search">
                <span class="search material-symbols-outlined">search</span>
            </button>
        </div>

        <div class="nav-info">
            <button class="btn-bell">
                <span class="material-symbols-outlined">shopping_cart</span>
            </button>
            <button class="btn-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdiS4pB7PQgaWNaLEDxht-1sdj2aeIZ0VgbA&usqp=CAU" alt="">
            </button>
        </div>
    </nav>
</header>